body {
	font-family:'Times New Roman', Times, serif;
}

/* HEADER BLOCK CSS */
.home-header {
	display: grid;
	grid-template-columns: 1fr 1fr 4fr;
	margin: 1rem;
	align-items: center;
}
.home-header__a-logo{
	border: none;
	background-color: white;
	cursor: pointer;
}
.home-header-bloc__btn-input-search{
	position: relative;
}
.home-header__btn-search{
	position: absolute;
	border: none;
	outline: none;
	height: 100%;
	width: 25px;
	padding: 0;
	cursor: pointer;
}
.home-header__input-search{
	height: 100%;
	width: 13rem;
	height: 2rem;
	background-color: #F2F2F2;
	border: none;
	border-radius: 4px;
	outline: none;
	text-indent: 21px;
}
.home-header__burger-menu{
	justify-self: end;
}
.home-header__burger-menu-bloc {
	display: flex;
	justify-content: center;
	align-items: center;
}
@media (max-width: 60rem) {
	.home-header__burger-menu-bloc {
	height: 63px;
	}
}
.home-header__burger-menu-nav {
	transition: 0.5s;
	transform-origin: right center;
	transform: scaleX(0) translateX(20%);
	opacity: 0;
}
@media (max-width: 40rem) {
	.home-header__burger-menu-nav {
	list-style: none;
	}
}
.home-header__burger-menu-nav_active {
	margin: 0;
	padding: 0;
	transform: scaleX(1) translateX(0%);
	opacity: 1;
	z-index: 1;
	cursor: pointer;
}
.home-header__burger-menu-nav-link{
	display: inline-block;
	text-decoration: none;
	color: #000;
	margin-right: 7rem;
}
@media (max-width: 40rem) {
	.home-header__burger-menu-nav-link {
	display: block;
	margin-right: 2rem;
	}
}
@media (min-width: 40.01rem) and (max-width: 60rem) {
	.home-header__burger-menu-nav-link {
	margin-right: 2.6rem;
	}
}
.home-header__burger-menu-wrapper-ul {
	height: 10px;
}
.home-header__burger-menu-nav-categories{
	position: relative;
	list-style: none;
	display: none;
	margin: 0;
	padding: 0;
}
.home-header__burger-menu-nav-link:hover div .home-header__burger-menu-nav-categories  {
	position: absolute;
	right: 68px;
	display: grid;
	margin: 10px;
	width: 220px;
	height: 113px;
	background-color: #fff;
	box-shadow: 0px 0px 4px #BDBDBD;
	border-radius: 5px;
	grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 40rem) {
	.home-header__burger-menu-nav-link:hover div .home-header__burger-menu-nav-categories {
		right: 0px;
	}
}
@media (min-width: 40.01rem) and (max-width: 60rem) {
	.home-header__burger-menu-nav-link:hover div .home-header__burger-menu-nav-categories {
		right: 125px;
	}
}
@media (min-width: 60.01rem) {
	.home-header__burger-menu-nav-link:hover div .home-header__burger-menu-nav-categories {
		right: 255px;
	}
}
.home-header__burger-menu-nav-link:hover div .home-header__burger-menu-nav-categories li{
	margin: 4px 0px 0px 28px;
	padding: 0px;
}
.home-header__burger-menu {
	height: 100%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.home-header__btn-menu {
	width: 20px;
	height: 20px;
	border: none;
	background-color: #fff;
	border-radius: 50%;
	position: relative;
	cursor: pointer;
}
.home-header__btn-menu span,
.home-header__btn-menu span::before,
.home-header__btn-menu span::after {
	position: absolute;
	top: 50%;
	margin-top: -1px;
	left: 50%;
	margin-left: -10px;
	width: 20px;
	height: 2px;
	background-color: #000;
}
.home-header__btn-menu span::before,
.home-header__btn-menu span::after {
	content: '';
	transition: 0.3s;
}
.home-header__btn-menu span::before {
	transform: translateY(-5px);
}
.home-header__btn-menu span::after {
	transform: translateY(5px);
}
.home-header__btn-menu_active span {
	height: 0;
}
.home-header__btn-menu_active span::before {
transform: rotate(45deg);
}
.home-header__btn-menu_active span::after {
transform: rotate(-45deg);
}

/* MAIN BLOCK CSS */
.home-main {
	margin-top: 0;
	padding: 0;
}

/* MAIN BLOCK__TOP NEWS */
.home-main__top-news {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(204, 204, 204, 0.3);
  box-shadow: 0 1px 0px 0px rgba(204, 204, 204, 0.3);
  background: #fff;
  border-radius: 5px;
	margin: 1rem;
}
.home-main__img-top-news-bloc {
  position: relative;
  height: 200px;
}
.home-main__img-top-news {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
	cursor: pointer;
}
.home-main__description-top-news {
  margin: 2rem;
  background: #fff;
  position: relative;
}
@media (min-width: 40em) {
	.home-main__img-top-news-bloc {
    flex-basis: 40%;
    height: auto;
  }
  .home-main__description-top-news {
    flex-basis: 60%;
  }
  .home-main__top-news {
    flex-direction: row-reverse;
  }
}

/* MAIN BLOCK UL MINOR NEWS */
.home-main__ul-minor-news-cards {
	list-style: none;
  margin: 1rem 1rem 3rem 1rem;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}
@media (min-width: 30em) {
  .home-main__ul-minor-news-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 60em) {
  .home-main__ul-minor-news-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
.home-main__li-news-card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}
.home-main__li-news-card:hover {
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.home-main__img-news-card {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
	cursor: pointer;
}
.home-main__content-news-card{
	margin: 1rem;
}
.home-main__title-news-card {
  font-size: 20px;
  margin: 0;
  color: #333;
	cursor: pointer;
}
.home-main__footer-news-card{
	display: flex;
	justify-content: space-between;
}
.home-main__read-more-news-card{
	cursor: pointer;
}

.home-main__btn-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 117px;
  height: 37px;
  text-align: start;
	font-weight: bold;
  background: #2F80ED;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  display: none;
	border: none;
}
.home-main__btn-to-top:hover {
  background: #1566d1;
}
.home-main__btn-to-top_show {
  display: block;
}
.home-main__arrow-to-top{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	color: #1566d1;
	left: 77%;
	top: 22%;
	text-align: center;
}
/* FOOTER BLOCK CSS */
.home-footer__copyright{
	margin: 1rem;
}